@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-assain {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav section */
nav{
  display: flex;
  margin: 40px;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}
.nav-section{
  color: rgb(13, 19, 33);
  font-size: 28px;
  line-height:33px;
  font-weight: 800;
}
nav ul li{
  list-style: none;
}
.btn{
  color:rgb(13, 19, 33) ;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 8px;
}

*{
  margin: 0;
  
}
/* bannar section */
.hero{
  height:660px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  url(../assets/hero-bg.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}
.hero .section-heading .heading{
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  padding: 0px;
}
.hero .section-heading .describe{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
  opacity: 0.7;
}
.images{
  text-align: center;
  margin-top: 70px;
 margin-bottom: 30px;
  
}
.banner-btn{
   padding: 18px 24px 18px 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    /* text-align: center; */
    border-radius: 8px;
    background-color:rgb(13, 19, 33);
    border: none;
    margin-left: 530px;
}
/* section2 */
.title{
  color:rgb(13, 19, 33) ;
  font-size: 32px;
  line-height: 37px;
  font-weight: 800;
  text-align: center;
 margin-top: 70px;
}
.new-img{
  display: flex;
  margin: 70px;
  background-color: rgb(255, 255, 255)
rgba(255, 255, 255, 0);
margin-left: 250px;
margin-right: 250px;
border: 1px solid whitesmoke;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.new-title{
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: start;
  padding-right: 30px;
  margin-bottom: 10px;
}
.sub-title{
 color: rgba(13, 19, 33, 0.7);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: start;
  margin-bottom: 20px;

}
.more{
color: rgba(13, 19, 33, 0.7);
font-size: 20px;
font-weight: 400;
line-height: 26px;
padding: 5px 10px;
}
.bg-color{
  background-color:#0D132105;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
}
.flex{
  padding-left: 20px;
}
.home{
  text-align: center;
  color: #0D1321;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 20px;
  padding-left: 220px;
  padding-right: 220px;
  opacity: 0.6;
}

/* skill section style */
.skill{
  display: flex;
  gap: 50px;
  margin: 100px;
}
.my-skill{
  background-color: rgba(255, 76, 30, 0.05);
  padding: 30px;
  border-radius: 10px;
}
.css-skill{
  background-color: rgba(0, 76, 232, 0.05);
  padding: 30px;
  border-radius: 10px;
}
.java-skill{
  background-color: rgba(255, 223, 0, 0.05);
  padding: 30px;
  border-radius: 10px;
}
.skill-title{
  color: rgb(13, 19, 33);
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
  margin: 20px 0 10px 0;

}
.skill-describe{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 20px 0;
  opacity: 0.6;
}
.title-describe{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 30px 200px 0 200px;
  opacity: 0.6;
}
.skill-more{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}